/* lato-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato-v24-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.item{
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 20px;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
}

body{
    font-family: "Lato";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

.section_titel{
        font-size: 35px;
        font-weight: 500;
        line-height: 42px;
        position: relative;
        padding-bottom: 10px;
}

.section_titel::after{
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* HEADER Styles start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-between;
padding-top: 56px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;

}

.header_item:not(:last-child){
    margin-right: 82px;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: white;
}
.header_link:hover,.header_link:focus,.header_link:active{
    opacity: .75;
}

/* HEADER Styles end */
/* ******************************************** */




/* intro START */
.intro{
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
 .intro_titel{
    color: #FFF;    
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
 }

 .intro_subtitle{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;

 }
 
 .search-form_info{
    display: flex;
    flex-wrap: wrap;
 }

 .search-form_field{
    width: 297px;
    background-color: transparent;
    background: url(../svg/Oval.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
 }
  .search-form_field::placeholder{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .search-form_submit{
    background: #1B7DFF;
    color: #FFF;
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 24px;
    border: 0;
  }

  .search-form_submit:hover,.search-form_submit:focus,.search-form_submit:active{
    background: #0867e5;
  }


/* intro END */


/* ******************************************** */


/*Benefits Start  */
.benefits {
    margin-bottom: 131px;
}

.benefits_wrapper {
    max-width: 1262px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    position: relative;
}

.benefits_titel {
    width: 100% ;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #FFF;
   
}

.bebefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px ;
    padding: 0 100px;
}

.benefits_card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_card_pic{
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits_card_thumb{
    display: block;

}

.benefits_card-titel{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 39px;

}

.benefits_card-more{
    display: inline-block;
    padding-right: 59px;
    background: url(../svg/arrow.svg) no-repeat 95% center;
    transition: .2s all;
    color: #006DFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.benefits_card-more:hover, .benefits_card-more:focus{
    background: url(../svg/arrow.svg) no-repeat right center;
}


/*Benefits END  */
/* ******************************************** */


/* Places START */

.places{
    margin-bottom: 131px;
}


.places_caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places_titel{
    margin-right: 15px;
}
.places_view-all{
    color: #006DFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    background: url(../svg/arrow.svg) no-repeat 100% center;
    padding-right: 59px;
}
.places_view-all:hover, .places_view-all:focus{
    opacity: .65;
}

.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}

.places_card{
    position: relative;
    overflow: hidden;
}
.places_card:hover .places_card-pic{
    transform: scale(1.05);

}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places_card_size_lg{
    grid-column: span 3 ;

}

.places_card_size_sm{
    grid-column: span 2;
    
}

.places_card-pic{
    width: 100%;
    height: 100%;
    transition: .15s;
}

.places_card-pic_size_lg{
        height: 354px;
        object-fit: cover;
}

.places_card-pic_size_sm {
    height: 283px;
    object-fit: cover;

}

.places_cardititel{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places_card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* Places END */

