/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* lato-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v24-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.item {
  width: 200px;
  height: 100px;
  background-color: green;
  padding: 20px;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.section_titel {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section_titel::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* HEADER Styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0E1D28;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 56px;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header_item:not(:last-child) {
  margin-right: 82px;
}

.header_link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}

/* HEADER Styles end */
/* ******************************************** */

/* Header Burger Start */
.header_burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger {}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  left: 0;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}


/* Header Burger End */
/* ******************************************** */

/* intro START */
.intro {
  min-height: 100vh;
  background: url(../img/intro-bg-min.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro_titel {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro_subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-form_field {
  width: 297px;
  background-color: transparent;
  background: url(../svg/Oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_field::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_field::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_field:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_field::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_field::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.search-form_submit {
  background: #1b7dff;
  color: #fff;
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 24px;
  border: 0;
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
  background: #0867e5;
}

/* intro END */

/* ******************************************** */

/*Benefits Start  */
.benefits {
  margin-bottom: 131px;
}

.benefits_wrapper {
  max-width: 1262px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  position: relative;
}

.benefits_titel {
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #fff;
}

.bebefits_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits_card {
  -ms-grid-column-span: 1;
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card_pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits_card_thumb {
  display: block;
}

.benefits_card-titel {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits_card-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits_card-more {
  display: inline-block;
  padding-right: 59px;
  background: url(../svg/arrow.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.benefits_card-more:hover,
.benefits_card-more:focus {
  background: url(../svg/arrow.svg) no-repeat right center;
}

/*Benefits END  */
/* ******************************************** */

/* Places START */

.places {
  margin-bottom: 131px;
}

.places_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_titel {
  margin-right: 15px;
}

.places_view-all {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  background: url(../svg/arrow.svg) no-repeat 100% center;
  padding-right: 59px;
}

.places_view-all:hover,
.places_view-all:focus {
  opacity: 0.65;
}

.places_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places_card {
  position: relative;
  overflow: hidden;
}

.places_card:hover .places_card-pic {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places_card_size_lg {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.places_card_size_sm {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.places_card-pic {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.places_card-pic_size_lg {
  height: 354px;
  -o-object-fit: cover;
  object-fit: cover;
}

.places_card-pic_size_sm {
  height: 283px;
  -o-object-fit: cover;
  object-fit: cover;
}

.places_cardititel {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Places END */

/* **************************************** */

/* Tours START */
.tours {
  margin-bottom: 139px;
}

.wrapper-full {}

.tours_tour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 108px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 77px;
}

.tour {}

.tour_pic {}

.tour_thum {}

.tour_info {
  padding-left: 47px;
}

.tour_title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour_desk {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour_more {
  color: #006dfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  background: url(../svg/arrow.svg) no-repeat 100% center;
  padding-right: 59px;
}

.tour_more:hover,
.tour_more:focus {
  opacity: 0.65;
}

/* Tours END */

/* *********************************** */

/* Top START */
.top {
  margin-bottom: 86px;
}

.top_title {
  margin-bottom: 54px;
}

.top_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.top_card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top_card-thumb {}

.top_card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top_card-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0 auto 0 0;
}

.top_card-likes {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  padding-right: 20px;
  background: url(../svg/heart.svg) no-repeat right;
  /* background-size: cover; */
  margin-right: 14px;
}

.top_card-likes-value {}

.top_card-comments {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  padding-right: 23px;
  background: url(../svg/comments.svg) no-repeat right;
  /* background-size: cover; */
}

.top_card-comments-vaule {}

.top_card-desk {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top_card-more {
  background: #1b7dff;
  text-decoration: none;
  color: #fff;
  padding: 12px 19px;
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  width: 118px;
  margin: auto 0 0 0;
}

.top_card-more:hover,
.top_card-more:focus,
.top_card-more:active {
  background: #0867e5;
}

/* Top END */

/* *************************************************** */

/* Videos START */
.videos {
  width: 100%;
}

.videos_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

}

.video_item {
  padding-top: 56.25%;
}

.video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Videos END */
/* *************************************************** */

/* Footer START */
.footer {
  background: #0E1D28;
  padding: 119px 0;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_logo {
  width: 50%;
}

.footer_logo-pic {}

.footer_nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footel_menu {}

.footer_menu-item {}

.footer_menu-titel {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.footer_menu-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.footer_menu-link:hover,
.footer_menu-link:focus,
.footer_menu-link:active {
  opacity: .75;
}

/* Footer END */
/* *********************************************************** */




/* Media Start */
/* *********************************************************** */
@media screen and (max-width: 960px) {
  .benefits {
    margin-bottom: 75px;
  }

  .search-form_field {
    margin-bottom: 25px;
  }

  .bebefits_cards {
    padding: 0 15px;
    grid-column-gap: 35px;
  }

  .benefits_card {
    margin-bottom: 65px;
  }

  .benefits_titel {
    padding: 45px 15px;
  }

  .benefits_wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .places_card_size_lg {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .places_card_size_sm {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .tours_tour {
    grid-column-gap: 35px;
  }

  .tour_info {
    padding-left: 0;
  }

  .tour_title {
    margin-bottom: 15px;
  }

  .tour_desk {
    margin-bottom: 15px;
  }

  .top_cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }

  .top_card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .top_card-pic {
    margin-bottom: 25px;
  }

  .footer {
    padding: 60px 0;
  }
}

/* *********************************************************** */
@media screen and (max-width: 767px) {
  .section_titel {
    margin-bottom: 25px;
  }

  .section_titel::after {
    width: 78px;
  }

  .header_burger {
    display: block;
  }

  .header_wrapper {
    padding-top: 28px;
  }

  .header_nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
  }

  .header_nav_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header_item:last-child {
    margin-bottom: 0;
  }

  .header_link {
    font-size: 42px;
    line-height: 48px;
  }

  .header_nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header_nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    top: 50%;

  }

  .header_nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }

  .header_nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }

  .intro {
    padding-top: 125px;
  }

  .intro_titel {
    font-size: 32px;
    line-height: 48px;
  }

  .intro_subtitle {
    font-size: 14px;
  }

  .search-form_field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: url(../svg/Oval.svg) no-repeat left 6px;
  }

  .search-form_field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-form_field::-moz-placeholder {
    font-size: 16px;
  }

  .search-form_field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form_field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-form_field::placeholder {
    font-size: 16px;
  }

  .search-form_submit {
    width: 100%;
  }

  .benefits {
    margin-bottom: 36px;
  }

  .benefits_card {
    -ms-grid-column-span: 3;
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits_card_pic {
    margin-bottom: 20px;
  }

  .benefits_card-titel {
    margin-bottom: 12px;
  }

  .benefits_card-desc {
    margin-bottom: 20px;
  }

  .places {
    margin-bottom: 76px;
  }

  .places_card-pic_size_lg,
  .places_card-pic_size_sm {
    height: 230px;
  }

  .places_view-all {
    margin-bottom: 25px;
  }

  .places_caption {
    margin-bottom: 0;
  }

  .tours {
    margin-bottom: 76px;
  }

  .tour_pic,
  .tour_info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .tour_pic {
    margin-bottom: 12px;
  }

  .tour_pic_mob-first {
    -ms-grid-row: -1;
    grid-row-start: -1;
  }

  .tours_tour {
    margin-bottom: 50px;
  }

  .top {
    margin-bottom: 76px;
  }

  .top_card {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .top_card-desk {
    margin-bottom: 15px;
  }

  .top_card-stats {
    min-width: 386px;
  }

  .footer_logo {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer_nav {
    width: 100%;
  }

  .footel_menu {
    width: 50%;
    margin-bottom: 24px;
  }


}

/* *********************************************************** */
@media screen and (max-width: 500px) {
  .header_nav {
    padding: 75px 30px;
  }



}

/* *********************************************************** */


/* Media End */
/* *********************************************************** */